{
    "data": {
        "elevation": 50,
        "external_url": "https://rpi-docker.glitchbusters.info:8123",
        "internal_url": null,
        "latitude": 51.307719,
        "location_name": "Glitchbusters Hass",
        "longitude": -0.332787,
        "time_zone": "Europe/London",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}