
.storage/core.config_entries
.storage/core.restore_state
.storage/auth
.storage/mobile_app

secrets.yaml
known_devices.yaml

home-assistant.log
home-assistant_v2.db

tts/*

command_input

*.old
*.bak
*.back
*.backup
